body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vb;
    background-color: #d7d7d7;
}

.project-card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-content {
    display: none;
}

.project-content.active {
    display: block;
}

.thin-text {
    font-weight: 300; /* Thin font */
    font-size: 16px; /* Adjust the font size as needed */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.project-image img {
    display: flex;
    width: 200px;
    height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#prev-button {
    margin-right: auto;
}

#next-button {
    margin-left: auto;
}